<html>
	<h1>
		{{ .title }}
	</h1>
	<form action="your-server-side-code" method="POST">
	<script
		src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		data-key="pk_test_0xNISNkgCSdia5i4gelB1SHA"
		data-amount="999"
		data-name="yashmurty"
		data-description="Example charge"
		data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
		data-locale="auto"
		data-currency="jpy">
	</script>
	</form>
</html>